@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-slate-900;
  font-family: "Poppins", sans-serif;
}
